<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <!--<connectionStrings>
    <add name ="conMysql"
        connectionString="Server=54.217.254.166; Database=storage_db; User ID=root; Password=equery!@#*();" />
  </connectionStrings>-->

  <connectionStrings>
    <add name ="testconn"
        connectionString="Server=localhost; Database=storage_db; User ID=root; Password=root123;" />
  </connectionStrings>
</configuration>